---
import Layout from "../layouts/Layout.astro";
import Historias from '../components/Historias.astro';
import HistoriasInvertido from '../components/HistoriasInvertido.astro';
import BotonInstagram from "../components/BotonInstagram.astro";

---
<Layout title="Vidas salvadas"
description="Algunas historias de mascotas que gracias nosotros hoy viven felices junto a sus familias">

<section class="flex flex-col justify-center items-center  bg-top bg-auto md:bg-containt bg-repeat-y bg-fondo-vidas  ">
    
    <Historias
    historiaTittle='Max'
    historiaText='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien quis magna fermentum consequat. Curabitur euismod vestibulum lectus, vitae luctus magna suscipit id. Nulla facilisi. Integer vel ullamcorper nisi. Quisque euismod lectus non felis convallis, at ultrices arcu sagittis.'
    historiaAltImage=''
    historiaImage='src/image/Historia1.webp'/>
    <HistoriasInvertido
    historiaTittle='Max'
    historiaText='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien quis magna fermentum consequat. Curabitur euismod vestibulum lectus, vitae luctus magna suscipit id. Nulla facilisi. Integer vel ullamcorper nisi. Quisque euismod lectus non felis convallis, at ultrices arcu sagittis.'
    historiaAltImage=''
    historiaImage='src/image/Historia2.webp'/>
    <Historias
    historiaTittle='Max'
    historiaText='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien quis magna fermentum consequat. Curabitur euismod vestibulum lectus, vitae luctus magna suscipit id. Nulla facilisi. Integer vel ullamcorper nisi. Quisque euismod lectus non felis convallis, at ultrices arcu sagittis.'
    historiaAltImage=''
    historiaImage='src/image/Historia1.webp'/>
    <HistoriasInvertido
    historiaTittle='Max'
    historiaText='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien quis magna fermentum consequat. Curabitur euismod vestibulum lectus, vitae luctus magna suscipit id. Nulla facilisi. Integer vel ullamcorper nisi. Quisque euismod lectus non felis convallis, at ultrices arcu sagittis.'
    historiaAltImage=''
    historiaImage='src/image/Historia2.webp'/>
    <div>
      <BotonInstagram/
      textBoton='Siguenos'>  
    </div>

    
</section>
</Layout>