---
import BotonWhatsapp from '../components/BotonWhatsapp.astro';
---

<section class="flex flex-col  justify-center items-center  ">
    <div class="my-10 md:my-14">
    <BotonWhatsapp textBoton='Solicitar servicio' >
    </div>
    <div class="text-center ">
    <h2 class="text-3xl font-bold text-purple-700 mb-4">Vidas salvadas</h2>
    <span class="text-2xl font-light text-purple-700">Algunas historias de héroes que <br>con nuestra ayuda hoy son felices.</span>
    </div>
</section>