---
import 'photoswipe/style.css';
---
<section class="pswp-gallery mt-16" id="gallery">
    <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6" style="mask-image: linear-gradient(rgb(255, 255, 255) 70%, transparent);">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
			<div  class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col">
				<a href="../Historia1.webp" aria-label="abrir galeria de imagenes"  class=" group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"     
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">

					<img src="../Historia1.webp" alt=""  class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Wines</h3>
				</a>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
				<a href="../Historia2.webp" aria-label="abrir galeria de imagenes" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../Historia2.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Gin</h3>
				</a>
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
					<a href="../card-peluqueria aria-label="abrir galeria de imagenes"-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-peluqueria-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Whiskey</h3>
					</a>
					<a href="../card-consulta-f aria-label="abrir galeria de imagenes"ondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-consulta-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Vodka</h3>
					</a>
				</div>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
				<a href="../card-hopitaliza aria-label="abrir galeria de imagenes"cion-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../card-hopitalizacion-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
				</a>
			</div>
        
		</div>
	</div>
    
    <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6" id="additionalImagesContainer1" style="display: none;">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
			<div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
				<a href="../card-hopitaliza aria-label="abrir galeria de imagenes"cion-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../card-hopitalizacion-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
				</a>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
				<a href="../Historia2.webp" aria-label="abrir galeria de imagenes" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../Historia2.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Gin</h3>
				</a>
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
					<a href="../card-peluqueria aria-label="abrir galeria de imagenes"-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-peluqueria-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Whiskey</h3>
					</a>
					<a href="../card-consulta-f aria-label="abrir galeria de imagenes"ondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-consulta-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Vodka</h3>
					</a>
				</div>
			</div>
			
			<div  class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col">
				<a href="../Historia1.webp" aria-label="abrir galeria de imagenes"  class=" group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"     
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">

					<img src="../Historia1.webp" alt=""  class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Wines</h3>
				</a>
			</div>
		</div>
	</div>

	<div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6" id="additionalImagesContainer2" style="display: none;">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
			<div  class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col">
				<a href="../Historia1.webp" aria-label="abrir galeria de imagenes"  class=" group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"     
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">

					<img src="../Historia1.webp" alt=""  class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Wines</h3>
				</a>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
				<a href="../Historia2.webp" aria-label="abrir galeria de imagenes" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../Historia2.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Gin</h3>
				</a>
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
					<a href="../card-peluqueria aria-label="abrir galeria de imagenes"-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-peluqueria-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Whiskey</h3>
					</a>
					<a href="../card-consulta-f aria-label="abrir galeria de imagenes"ondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="../card-consulta-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Vodka</h3>
					</a>
				</div>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
				<a href="../card-hopitaliza aria-label="abrir galeria de imagenes"cion-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../card-hopitalizacion-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
				</a>
			</div>
        
		</div>
	</div>
    
    <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6" id="additionalImagesContainer3" style="display: none;">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
			<div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
				<a href="../card-hopitaliza aria-label="abrir galeria de imagenes"cion-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../card-hopitalizacion-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
				</a>
			</div>
			<div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
				<a href="../Historia2.webp" aria-label="abrir galeria de imagenes" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
					<img src="../Historia2.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Gin</h3>
				</a>
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
					<a href="src/image/card-pel aria-label="abrir galeria de imagenes"uqueria-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="src/image/card-peluqueria-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Whiskey</h3>
					</a>
					<a href="src/image/card-con aria-label="abrir galeria de imagenes"sulta-fondo.webp" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">
						<img src="src/image/card-consulta-fondo.webp" alt="" class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
						<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
						<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Vodka</h3>
					</a>
				</div>
			</div>
			
			<div  class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col">
				<a href="src/image/Historia aria-label="abrir galeria de imagenes"1.webp"  class=" group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"     
                data-pswp-width="1669" 
                data-pswp-height="2500" 
                target="_blank">

					<img src="src/image/Historia1.webp" alt=""  class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
					<div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
					<h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Wines</h3>
				</a>
			</div>
		</div>
	</div>
	
	<div class="flex justify-center mb-16">
		<button id="showMoreButton" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base font-semibold text-gray-900 rounded-full group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500   focus:ring-2 focus:outline-none focus:ring-cyan-200 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
		<span class="text-stone-900 hover:text-zinc-100 relative px-5 py-2.5 transition-all ease-in duration-75 bg-white  rounded-full group-hover:bg-opacity-0">
		Ver más fotos
		</span>
	</div>
	<div class="flex justify-center mb-16">
		<button id="closeAllButton" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base font-semibold text-gray-900 rounded-full group bg-gradient-to-br from-purple-700 to-blue-500 group-hover:from-purple-500 group-hover:to-pink-500   focus:ring-2 focus:outline-none focus:ring-purple-200 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]" style="display: none;">
			<span class="text-stone-900 hover:text-zinc-100 relative px-5 py-2.5 transition-all ease-in duration-75 bg-white  rounded-full group-hover:bg-opacity-0">
			Cerrar todo 
			</span>
	</button>
	</div>	
</section>

<style>
   
    .fade-in-down {
  animation: fade-in-down 3s ease infinite;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#additionalImagesContainer1 a {
    animation: fade-in-down 1.5s ease;
} 
#additionalImagesContainer2 a {
    animation: fade-in-down 1.5s ease;
}
#additionalImagesContainer3 a {
    animation: fade-in-down 1.5s ease;
}

/* Deshabilitar la máscara después de hacer clic en "Ver más" */
.mask-disabled {
    mask-image: none !important;
}
</style>
  
<script> 
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('photoswipe')});
  lightbox.init();
  
    	
	document.addEventListener('DOMContentLoaded', function() {
    const showMoreButton = document.getElementById('showMoreButton');
    const closeAllButton = document.getElementById('closeAllButton');
    const additionalImagesContainers = document.querySelectorAll('[id^="additionalImagesContainer"]');
    const firstImageContainer = document.querySelector('.py-4'); // Primer bloque de imágenes

    let currentIndex = 0; // Índice del bloque actual
    let isShowingAll = false; // Variable para rastrear si se están mostrando todos los bloques

    // Función para mostrar el siguiente bloque de imágenes
    function showNextBlock() {
        additionalImagesContainers[currentIndex].style.display = 'block';
        currentIndex++;
        if (currentIndex === additionalImagesContainers.length) {
            showMoreButton.style.display = 'none'; // Ocultar el botón "Ver más" al llegar al último bloque
            closeAllButton.style.display = 'inline-flex'; // Mostrar el botón "Cerrar todo" al llegar al último bloque
            isShowingAll = true; // Actualizar el estado para indicar que se están mostrando todos los bloques
            // Deshabilitar gradiente en el primer bloque
            firstImageContainer.style.maskImage = 'none';
        }
    }

    // Función para cerrar todos los bloques de imágenes
    function closeAllBlocks() {
        additionalImagesContainers.forEach(container => {
            container.style.display = 'none';
        });
        showMoreButton.style.display = 'inline-flex'; // Mostrar el botón "Ver más" al cerrar todos los bloques
        closeAllButton.style.display = 'none'; // Ocultar el botón "Cerrar todo" al cerrar todos los bloques
        currentIndex = 0; // Reiniciar el índice del bloque actual
        isShowingAll = false; // Actualizar el estado para indicar que no se están mostrando todos los bloques
        // Habilitar gradiente en el primer bloque si no se están mostrando todos los bloques
        if (!isShowingAll) {
            firstImageContainer.style.maskImage = 'linear-gradient(rgb(255, 255, 255) 70%, transparent)';
        }
    }

    showMoreButton.addEventListener('click', function() {
        showNextBlock();
        // Deshabilitar la máscara en el primer bloque al hacer clic en "Ver más"
        firstImageContainer.style.maskImage = 'none';
    });

    closeAllButton.addEventListener('click', function() {
        closeAllBlocks();
        // Volver a habilitar la máscara en el primer bloque al cerrar todos los bloques
        firstImageContainer.style.maskImage = 'linear-gradient(rgb(255, 255, 255) 70%, transparent)';
    });

    // Event listener para reiniciar todo al hacer clic en el primer bloque
    firstImageContainer.addEventListener('click', function() {
        if (isShowingAll) {
            closeAllBlocks();
        }
    });
});
</script>