---

---

<header   class="header" id="header">
		
	<div class="flex items-start justify-between">
		<div id="logo" >
			<img
				src="../src/image/Logo.webp"
				alt="Logo casa veterinaria"
				
				style="width:65qx; height: 65px"
			/>
			<span
				class="content-center text-left leading-none lg:text-xl font-bold text-purple-700 text-xs md:text-sm"
				>Casa veterianaria<br />Laureles</span
			>
		</div>
		<nav
			class=" h-12 md:h-16 bg-gradient-to-b from-purple-700 via-purple-800 to-purple-400 items-center grow md:rounded-l-3xl"
		>
			<div
				class="max-w-screen-xl flex flex-col   "
			>
				<button 
					id="menu-toggle"
					type="button"
					class="inline-flex items-center p-2 w-12 h-12 justify-center text-sm text-zinc-100 md:hidden"
					aria-controls="navbar-default"
					aria-expanded="false"	
					
				>
					<span class="sr-only">Open main menu</span>
					<svg
						class="w-10 h-6"
						aria-hidden="true"
						fill="none"
						viewBox="0 0 17 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15"></path>
					</svg>
				</button>
				<div
					class=" hidden w-4/5 md:block md:w-auto z-50 md:z-0"
					id="navbar-default"
				>
				
					<ul style="-webkit-border-bottom-right-radius: 200px;
					-moz-border-radius-bottomright: 200px;
					border-bottom-right-radius: 200px;"
						 class="min-[1150px]:pl-60 px-5 h-[500px] font-medium pb-40 md:pb-0 flex flex-col justify-around  items-start md:h-16 md:self-start   md:rounded-l-3xl md:p-1  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-gradient-to-b from-purple-700 via-purple-800 to-purple-400 dark:bg-gradient-to-b from-purple-700 via-purple-800 to-purple-400 dark:border-gray-700"
					>
						<li>
							<a href="/"
								class="h-14 flex items-center justify-center flex-row gap-6 hover:border-b-4 hover:border-sky-500 hover:bottom-0 hover:rounded-ls box-sizing:border-box"
							>
								<svg
									width="40"
									height="41"
									viewBox="0 0 40 41"
									fill="none"
								>
									<g clip-path="url(#clip0_465_34)">
										<path
											d="M25.4462 40.7H8.63597C6.4105 40.7 4.60004 38.8896 4.60004 36.6641V18.3004C4.60004 16.9388 5.283 15.6852 6.42722 14.9471L16.8176 8.24352C18.7509 6.9961 21.2495 6.9961 23.1827 8.24352L33.573 14.9471C34.7172 15.6852 35.4002 16.9387 35.4002 18.3004V38.3311C35.4002 38.9685 34.8834 39.4852 34.2461 39.4852C33.6089 39.4852 33.0921 38.9685 33.0921 38.3311V18.3004C33.0921 17.7264 32.8041 17.1978 32.3216 16.8866L21.9313 10.183C20.7578 9.42602 19.2418 9.42602 18.0687 10.183L7.67847 16.8866C7.19605 17.1979 6.90816 17.7264 6.90816 18.3005V36.6642C6.90816 37.617 7.68323 38.392 8.63597 38.392H25.4463C26.0836 38.392 26.6004 38.9086 26.6004 39.546C26.6004 40.1835 26.0837 40.7 25.4462 40.7Z"
											fill="#F0F0F0"></path>
										<path
											d="M38.0405 14.2144C37.8184 14.2144 37.5941 14.1505 37.396 14.0168L21.9926 3.62276C20.7824 2.80596 19.2181 2.80596 18.0075 3.62276L2.60421 14.0168C2.07577 14.3735 1.35866 14.234 1.00202 13.7058C0.64554 13.1775 0.784836 12.4601 1.31312 12.1036L16.7164 1.70948C18.7112 0.363391 21.2891 0.363547 23.2837 1.70948L38.6871 12.1035C39.2154 12.46 39.3547 13.1773 38.9981 13.7057C38.7752 14.0361 38.4112 14.2144 38.0405 14.2144Z"
											fill="#F0F0F0"></path>
										<path
											d="M27.7777 23.7915C29.1336 22.0509 27.924 18.8413 27.924 18.8413C27.924 18.8413 24.5689 18.4611 23.1926 20.1566C22.211 19.7931 21.1323 19.5921 20.0002 19.5921C18.868 19.5921 17.7893 19.7931 16.8078 20.1566C15.4315 18.461 12.0764 18.8413 12.0764 18.8413C12.0764 18.8413 10.8669 22.0509 12.2227 23.7915C12.2837 23.8696 12.3499 23.9421 12.4186 24.0119C12.0055 24.873 11.7768 26.1791 11.7768 27.1722C11.7768 31.1598 15.4585 33.0731 20.0002 33.0731C24.5419 33.0731 28.2236 31.1598 28.2236 27.1722C28.2236 26.179 27.9951 24.873 27.5819 24.0119C27.6505 23.9421 27.7168 23.8698 27.7777 23.7915Z"
											fill="#00AAE6"></path>
										<path
											d="M20.0001 34.2272C14.3036 34.2272 10.6227 31.458 10.6227 27.1723C10.6227 26.3909 10.7532 25.2309 11.1011 24.2002C9.71626 22.0075 10.8559 18.8074 10.9964 18.4345C11.1491 18.0292 11.5159 17.7435 11.9463 17.6947C11.9859 17.6902 12.3482 17.6509 12.883 17.6509C14.1923 17.6509 15.896 17.8737 17.1105 18.8428C18.0402 18.5741 19.0091 18.4382 20.0001 18.4382C20.9911 18.4382 21.9599 18.5741 22.8897 18.8428C24.1041 17.8738 25.8079 17.6509 27.1172 17.6509C27.652 17.6509 28.0144 17.6903 28.054 17.6947C28.4843 17.7435 28.8511 18.0292 29.0039 18.4345C29.1446 18.8074 30.2837 22.0073 28.8992 24.2002C29.2472 25.2312 29.3776 26.3911 29.3776 27.1723C29.3775 31.458 25.6967 34.2272 20.0001 34.2272ZM12.9455 19.9591C12.7179 20.8993 12.5448 22.3272 13.133 23.0823C13.1589 23.1156 13.1942 23.1548 13.2411 23.2025C13.5823 23.5491 13.6692 24.0725 13.459 24.5111C13.153 25.1491 12.9308 26.2682 12.9308 27.1723C12.9308 28.66 13.5659 29.8312 14.8186 30.6535C16.0622 31.4697 17.9024 31.9194 20.0001 31.9194C22.0977 31.9194 23.938 31.4697 25.1815 30.6535C26.4341 29.8312 27.0693 28.6601 27.0693 27.1723C27.0693 26.2684 26.8472 25.1492 26.5411 24.511C26.331 24.0727 26.418 23.5496 26.7586 23.2029C26.8063 23.1545 26.8409 23.116 26.8676 23.0817C27.4552 22.3274 27.2823 20.9005 27.0544 19.9592C25.6376 19.9688 24.5586 20.3046 24.0883 20.884C23.7768 21.2678 23.2549 21.4105 22.7918 21.239C21.9087 20.912 20.9694 20.7463 20.0001 20.7463C19.0307 20.7463 18.0913 20.9122 17.2082 21.239C16.7446 21.4108 16.2231 21.2678 15.9116 20.884C15.4413 20.3046 14.3623 19.9688 12.9455 19.9591Z"
											fill="#F0F0F0"></path>
										<path
											d="M16.6309 26.7226H16.4725C15.8351 26.7226 15.3184 26.2059 15.3184 25.5685C15.3184 24.9312 15.8351 24.4144 16.4725 24.4144H16.6309C17.2683 24.4144 17.785 24.9311 17.785 25.5685C17.7849 26.2059 17.2683 26.7226 16.6309 26.7226Z"
											fill="#F0F0F0"></path>
										<path
											d="M23.5277 26.7226H23.3691C22.7319 26.7226 22.2151 26.2059 22.2151 25.5685C22.2151 24.9312 22.7319 24.4144 23.3691 24.4144H23.5277C24.165 24.4144 24.6818 24.9311 24.6818 25.5685C24.6817 26.2059 24.1651 26.7226 23.5277 26.7226Z"
											fill="#F0F0F0"></path>
									</g>
									<defs>
										<clipPath id="clip0_465_34">
											<rect
												width="40"
												height="40"
												fill="white"
												transform="translate(0.000244141 0.699997)"
											></rect>
										</clipPath>
									</defs>
								</svg>

								<span
									class="text-lg font-semibold text-zinc-100 "
									>Inicio</span>
							</a>
						</li>
						<li>
							<a
								href="/servicios"
								class="h-14 flex items-center justify-center flex-row gap-6 hover:border-b-4 hover:border-sky-500 hover:bottom-0 hover:rounded-ls box-sizing:border-box"
							>
								<svg
									width="41"
									height="41"
									viewBox="0 0 41 41"
									fill="none"
								>
									<g clip-path="url(#clip0_465_56)">
										<path
											d="M36.1275 26.2197H21.0553C18.7226 26.2197 16.825 24.3219 16.825 21.9894V4.43047C16.8249 2.09773 18.7227 0.199997 21.0553 0.199997H36.1275C38.4601 0.199997 40.3579 2.09773 40.3579 4.43047V21.9893C40.358 24.322 38.4603 26.2197 36.1275 26.2197ZM21.0553 2.43383C19.9544 2.43383 19.0588 3.32945 19.0588 4.43039V21.9892C19.0588 23.0901 19.9544 23.9857 21.0553 23.9857H36.1275C37.2283 23.9857 38.124 23.0901 38.124 21.9892V4.43047C38.124 3.32953 37.2282 2.4339 36.1275 2.4339L21.0553 2.43383Z"
											fill="#F0F0F0"></path>
										<path
											d="M30.0769 32.3266H27.106C25.512 32.3266 24.2148 31.0296 24.2148 29.4354V25.7048C24.2148 25.0879 24.715 24.5878 25.3318 24.5878C25.9486 24.5878 26.4488 25.0879 26.4488 25.7048V29.4354C26.4488 29.7978 26.7436 30.0928 27.106 30.0928H30.0769C30.4393 30.0928 30.7342 29.7979 30.7342 29.4354V28.4572C30.7342 27.8403 31.2344 27.3403 31.8512 27.3403C32.468 27.3403 32.9681 27.8403 32.9681 28.4572V29.4354C32.968 31.0296 31.6709 32.3266 30.0769 32.3266Z"
											fill="#F0F0F0"></path>
										<path
											d="M23.5935 9.49655H17.9435C17.3267 9.49655 16.8265 8.99647 16.8265 8.37959C16.8265 7.76272 17.3267 7.26264 17.9435 7.26264H23.5935C24.2103 7.26264 24.7104 7.76272 24.7104 8.37959C24.7104 8.99647 24.2104 9.49655 23.5935 9.49655Z"
											fill="#F0F0F0"></path>
										<path
											d="M23.5935 15.4061H17.9435C17.3267 15.4061 16.8265 14.906 16.8265 14.2892C16.8265 13.6723 17.3267 13.1722 17.9435 13.1722H23.5935C24.2103 13.1722 24.7104 13.6723 24.7104 14.2892C24.7104 14.906 24.2104 15.4061 23.5935 15.4061Z"
											fill="#F0F0F0"></path>
										<path
											d="M25.7668 21.3155H17.9435C17.3267 21.3155 16.8265 20.8154 16.8265 20.1985C16.8265 19.5817 17.3267 19.0816 17.9435 19.0816H25.7668C26.3836 19.0816 26.8838 19.5817 26.8838 20.1985C26.8837 20.8154 26.3836 21.3155 25.7668 21.3155Z"
											fill="#F0F0F0"></path>
										<path
											d="M22.8314 18.5029V8.37963H34.3515V18.5029C34.3515 19.4475 33.5857 20.2132 32.6412 20.2132H24.5417C23.5972 20.2132 22.8314 19.4474 22.8314 18.5029Z"
											fill="#00AAE5"></path>
										<path
											d="M32.6415 21.3302H24.542C22.983 21.3302 21.7147 20.062 21.7147 18.503V8.37977C21.7147 7.7629 22.2149 7.26282 22.8317 7.26282H34.3519C34.9687 7.26282 35.4689 7.7629 35.4689 8.37977V18.5031C35.4687 20.0619 34.2004 21.3302 32.6415 21.3302ZM23.9485 9.49665V18.503C23.9485 18.8302 24.2148 19.0964 24.542 19.0964H32.6415C32.9688 19.0964 33.235 18.8302 33.235 18.503V9.49665H23.9485Z"
											fill="#F0F0F0"></path>
										<path
											d="M24.5502 40.2H12.183C9.27698 40.2 6.91284 37.8358 6.91284 34.9297V34.0499C6.91284 33.433 7.413 32.9329 8.02979 32.9329C8.64659 32.9329 9.14675 33.433 9.14675 34.0499V34.9297C9.14675 36.6039 10.5089 37.9661 12.1831 37.9661H24.5503C26.2246 37.9661 27.5867 36.604 27.5867 34.9297V31.5663C27.5867 30.9494 28.0869 30.4493 28.7037 30.4493C29.3205 30.4493 29.8207 30.9494 29.8207 31.5663V34.9297C29.8203 37.8357 27.4562 40.2 24.5502 40.2Z"
											fill="#F0F0F0"></path>
										<path
											d="M8.02979 29.9173C7.413 29.9173 6.91284 29.4172 6.91284 28.8004V17.1456C6.91284 16.5287 7.413 16.0286 8.02979 16.0286C8.64659 16.0286 9.14675 16.5287 9.14675 17.1456V28.8004C9.14667 29.4172 8.64667 29.9173 8.02979 29.9173Z"
											fill="#F0F0F0"></path>
										<path
											d="M10.6285 13.2097C9.07686 13.2097 8.38085 14.0793 8.10686 14.5902C8.07249 14.6543 7.97905 14.6543 7.94483 14.5901C7.67186 14.0792 6.97959 13.2097 5.42811 13.2097C3.66069 13.2097 2.10608 14.4162 2.10608 16.6193C2.10608 17.5108 2.2878 18.2746 2.79194 19.1269C3.81944 20.8639 7.20452 23.1155 7.89991 23.5592C7.97678 23.6083 8.07413 23.6084 8.15108 23.5596C8.84702 23.1179 12.2327 20.8774 13.2683 19.1268C13.7726 18.2745 13.953 17.5107 13.953 16.6192C13.9531 14.4162 12.3958 13.2097 10.6285 13.2097Z"
											fill="#00AAE5"></path>
										<path
											d="M8.02565 24.7131C7.76776 24.7131 7.51643 24.6397 7.29878 24.5007C6.59464 24.0515 3.02073 21.7077 1.83058 19.6956C1.24854 18.7119 0.989014 17.7631 0.989014 16.6194C0.989014 13.9965 2.85597 12.0928 5.428 12.0928C6.62698 12.0928 7.46261 12.4985 8.02675 12.9644C8.59159 12.4988 9.42823 12.0928 10.6285 12.0928C13.2021 12.0928 15.07 13.9965 15.07 16.6194C15.07 17.7645 14.8109 18.7134 14.2298 19.6956C13.0314 21.7215 9.45456 24.0553 8.74987 24.5025C8.53261 24.6404 8.28229 24.7131 8.02565 24.7131ZM5.42792 14.3267C4.41073 14.3267 3.22276 14.9272 3.22276 16.6194C3.22276 17.3598 3.37644 17.9215 3.75308 18.5582C4.44268 19.7239 6.63464 21.3727 8.02683 22.3071C9.41948 21.3767 11.6125 19.7322 12.307 18.5582C12.6827 17.9231 12.836 17.3613 12.836 16.6194C12.836 14.9271 11.6467 14.3267 10.6282 14.3267C9.88972 14.3267 9.37261 14.593 9.09104 15.1181C8.87964 15.5114 8.47159 15.7552 8.02573 15.7552C7.57831 15.7552 7.16964 15.5104 6.95917 15.1159C6.67956 14.5925 6.16417 14.3267 5.42792 14.3267Z"
											fill="#F0F0F0"></path>
									</g>
									<defs>
										<clipPath id="clip0_465_56">
											<rect
												width="40"
												height="40"
												fill="white"
												transform="translate(0.673584 0.199997)"
											></rect>
										</clipPath>
									</defs>
								</svg>
								<span
								class="text-lg font-semibold text-zinc-100 leading-none"
								>Servicios</span>
								
								
							</a>
						</li>
						<li>
							<a
								href="/vidas"
								class="h-14 flex items-center justify-center flex-row gap-6 hover:border-b-4 hover:border-sky-500 hover:bottom-0 hover:rounded-ls box-sizing:border-box"
							>
								<svg
									width="41"
									height="41"
									viewBox="0 0 41 41"
									fill="none"
								>
									<g clip-path="url(#clip0_465_221)">
										<path
											d="M17.0042 23.774C16.4388 23.774 15.9803 23.3155 15.9803 22.7501V10.2839C15.9803 9.80397 15.5899 9.41358 15.11 9.41358C14.6301 9.41358 14.2397 9.80397 14.2397 10.2839V22.7502C14.2397 23.3157 13.7813 23.7741 13.2158 23.7741C12.6503 23.7741 12.1919 23.3157 12.1919 22.7502V10.2839C12.1919 8.67483 13.501 7.36577 15.11 7.36577C16.7191 7.36577 18.0281 8.67483 18.0281 10.2839V22.7502C18.0281 23.3156 17.5697 23.774 17.0042 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M9.42733 23.7741C8.86187 23.7741 8.40343 23.3157 8.40343 22.7502V9.33683C8.40343 8.8569 8.01304 8.46651 7.53312 8.46651C7.05319 8.46651 6.6628 8.8569 6.6628 9.33683V11.9575C6.6628 12.523 6.20437 12.9814 5.6389 12.9814C5.07343 12.9814 4.61499 12.523 4.61499 11.9575V9.33683C4.61499 7.72776 5.92405 6.4187 7.53312 6.4187C9.14218 6.4187 10.4512 7.72776 10.4512 9.33683V22.7503C10.4512 23.3157 9.9928 23.7741 9.42733 23.7741Z"
											fill="#F0F0F0"></path>
										<path
											d="M13.216 23.774C12.6506 23.774 12.1921 23.3156 12.1921 22.7501V7.4423C12.1921 6.96237 11.8017 6.57198 11.3218 6.57198C10.8419 6.57198 10.4515 6.96237 10.4515 7.4423V22.7502C10.4515 23.3157 9.99306 23.7741 9.42759 23.7741C8.86212 23.7741 8.40369 23.3157 8.40369 22.7502V7.4423C8.40369 5.83323 9.71275 4.52417 11.3218 4.52417C12.9309 4.52417 14.2399 5.83323 14.2399 7.4423V22.7502C14.2399 23.3157 13.7815 23.774 13.216 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M6.32041 34.1182C5.9465 34.1182 5.58619 33.9125 5.40588 33.556C5.03127 32.8152 4.48221 32.1603 3.81799 31.6621C1.94494 30.2571 0.82666 28.0204 0.82666 25.679V17.4642C0.82666 15.8551 2.13572 14.546 3.74479 14.546C5.35385 14.546 6.66291 15.8551 6.66291 17.4642V21.8978C6.66291 22.4632 6.20447 22.9217 5.639 22.9217C5.07353 22.9217 4.6151 22.4632 4.6151 21.8978V17.4642C4.6151 16.9842 4.22471 16.5939 3.74479 16.5939C3.26486 16.5939 2.87447 16.9842 2.87447 17.4642V25.679C2.87447 27.3794 3.6865 29.0037 5.04682 30.024C5.96135 30.71 6.71752 31.6119 7.23338 32.6321C7.48853 33.1367 7.28635 33.7526 6.78166 34.0078C6.63353 34.0827 6.4758 34.1182 6.32041 34.1182Z"
											fill="#F0F0F0"></path>
										<path
											d="M20.7929 23.774C20.2275 23.774 19.769 23.3156 19.769 22.7501V13.1255C19.769 12.6456 19.3786 12.2552 18.8987 12.2552C18.4188 12.2552 18.0284 12.6456 18.0284 13.1255V22.7502C18.0284 23.3157 17.57 23.7741 17.0045 23.7741C16.439 23.7741 15.9806 23.3157 15.9806 22.7502V13.1255C15.9806 11.5164 17.2897 10.2074 18.8987 10.2074C20.5078 10.2074 21.8168 11.5164 21.8168 13.1255V22.7502C21.8168 23.3157 21.3584 23.774 20.7929 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M28.4375 23.774C27.872 23.774 27.4136 23.3155 27.4136 22.7501V10.2839C27.4136 9.80397 27.0232 9.41358 26.5432 9.41358C26.0633 9.41358 25.6729 9.80397 25.6729 10.2839V22.7502C25.6729 23.3157 25.2145 23.7741 24.649 23.7741C24.0836 23.7741 23.6251 23.3157 23.6251 22.7502V10.2839C23.6251 8.67483 24.9342 7.36577 26.5432 7.36577C28.1523 7.36577 29.4614 8.67483 29.4614 10.2839V22.7502C29.4614 23.3156 29.003 23.774 28.4375 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M32.2259 23.7741C31.6605 23.7741 31.202 23.3157 31.202 22.7502V9.33683C31.202 7.72776 32.5111 6.4187 34.1202 6.4187C35.7292 6.4187 37.0383 7.72776 37.0383 9.33683V11.9575C37.0383 12.523 36.5798 12.9814 36.0144 12.9814C35.4489 12.9814 34.9905 12.523 34.9905 11.9575V9.33683C34.9905 8.8569 34.6001 8.46651 34.1202 8.46651C33.6402 8.46651 33.2498 8.8569 33.2498 9.33683V22.7503C33.2498 23.3157 32.7915 23.7741 32.2259 23.7741Z"
											fill="#F0F0F0"></path>
										<path
											d="M32.2258 23.774C31.6603 23.774 31.2019 23.3156 31.2019 22.7501V7.4423C31.2019 6.96237 30.8115 6.57198 30.3316 6.57198C29.8517 6.57198 29.4613 6.96237 29.4613 7.4423V22.7502C29.4613 23.3157 29.0028 23.7741 28.4374 23.7741C27.8719 23.7741 27.4135 23.3157 27.4135 22.7502V7.4423C27.4135 5.83323 28.7225 4.52417 30.3316 4.52417C31.9406 4.52417 33.2497 5.83323 33.2497 7.4423V22.7502C33.2497 23.3157 32.7913 23.774 32.2258 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M35.3327 34.1182C35.1773 34.1182 35.0196 34.0828 34.8716 34.0078C34.3669 33.7527 34.1647 33.1367 34.4198 32.6321C34.9357 31.6119 35.6918 30.7101 36.6064 30.0239C37.9666 29.0037 38.7787 27.3794 38.7787 25.679V17.4642C38.7787 16.9842 38.3884 16.5939 37.9084 16.5939C37.4285 16.5939 37.0381 16.9842 37.0381 17.4642V21.8978C37.0381 22.4632 36.5798 22.9217 36.0142 22.9217C35.4487 22.9217 34.9903 22.4632 34.9903 21.8978V17.4642C34.9903 15.8551 36.2994 14.546 37.9084 14.546C39.5175 14.546 40.8266 15.8551 40.8266 17.4642V25.679C40.8266 28.0205 39.7083 30.2572 37.8352 31.6621C37.171 32.1603 36.622 32.8153 36.2473 33.5561C36.0669 33.9127 35.7066 34.1182 35.3327 34.1182Z"
											fill="#F0F0F0"></path>
										<path
											d="M24.6491 23.774C24.0837 23.774 23.6252 23.3156 23.6252 22.7501V13.1255C23.6252 12.6456 23.2348 12.2552 22.7549 12.2552C22.275 12.2552 21.8846 12.6456 21.8846 13.1255V22.7502C21.8846 23.3157 21.4262 23.7741 20.8607 23.7741C20.2952 23.7741 19.8368 23.3157 19.8368 22.7502V13.1255C19.8368 11.5164 21.1459 10.2074 22.7549 10.2074C24.364 10.2074 25.673 11.5164 25.673 13.1255V22.7502C25.673 23.3157 25.2147 23.774 24.6491 23.774Z"
											fill="#F0F0F0"></path>
										<path
											d="M25.8411 15.8131C22.8477 15.8131 21.5045 17.491 20.9762 18.4765C20.9099 18.6003 20.7296 18.6001 20.6634 18.4763C20.1369 17.4906 18.8012 15.8131 15.8079 15.8131C12.3981 15.8131 9.39868 18.1407 9.39868 22.3912C9.39868 24.1111 9.74915 25.5846 10.722 27.229C12.7045 30.5801 19.2355 34.9243 20.577 35.7804C20.7253 35.875 20.9131 35.8753 21.0617 35.781C22.4043 34.9291 28.9363 30.6063 30.9344 27.229C31.9072 25.5846 32.2553 24.1111 32.2553 22.3912C32.2552 18.1408 29.2509 15.8131 25.8411 15.8131Z"
											fill="#00AAE5"></path>
										<path
											d="M20.8196 36.8756C20.5381 36.8756 20.2637 36.7955 20.026 36.6437C19.2163 36.127 12.0515 31.4877 9.84053 27.7505C8.8267 26.0367 8.37451 24.3839 8.37451 22.3913C8.37451 20.1011 9.15115 18.1555 10.6205 16.7646C11.9663 15.4908 13.8086 14.7892 15.8077 14.7892C18.3841 14.7892 19.9311 15.8643 20.8262 16.9102C21.6972 15.9125 23.2529 14.7892 25.841 14.7892C27.8404 14.7892 29.6832 15.4907 31.0302 16.7643C32.5015 18.1554 33.279 20.1012 33.279 22.3913C33.279 24.3867 32.8276 26.0394 31.8154 27.7505C29.5883 31.5155 22.4201 36.1317 21.6101 36.6457C21.3731 36.796 21.0997 36.8756 20.8196 36.8756ZM15.8078 16.837C13.1272 16.837 10.4224 18.5545 10.4224 22.3913C10.4224 24.0179 10.7755 25.3088 11.603 26.7077C13.3976 29.7413 19.3769 33.7727 20.8214 34.7189C23.6627 32.8837 28.4993 29.3338 30.0529 26.7077C30.8787 25.3117 31.2312 24.0208 31.2312 22.3913C31.2312 18.5545 28.524 16.837 25.8408 16.837C23.5068 16.837 22.3976 17.9917 21.8783 18.9604C21.669 19.3507 21.2634 19.5931 20.8197 19.5931C20.3751 19.5931 19.9692 19.3499 19.7601 18.9586C19.243 17.9909 18.1375 16.837 15.8078 16.837Z"
											fill="#F0F0F0"></path>
									</g>
									<defs>
										<clipPath id="clip0_465_221">
											<rect
												width="40"
												height="40"
												fill="white"
												transform="translate(0.826904 0.699997)"
											></rect>
										</clipPath>
									</defs>
								</svg>
								<span
								class="text-lg font-semibold text-zinc-100 leading-none"
								>Vidas<br />salvadas</span>
							</a>
						</li>
						<li>
							<a
								href="/nosotros"
								class="h-14 flex items-center justify-center flex-row gap-6 hover:border-b-4 hover:border-sky-500 hover:bottom-0 hover:rounded-ls box-sizing:border-box"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="40"
									height="41"
									viewBox="0 0 40 41"
									fill="none"
								>
									<g clip-path="url(#clip0_465_161)">
										<path
											d="M29.7258 17.1879C26.6125 17.1879 24.0796 14.655 24.0796 11.5415C24.0796 8.42818 26.6125 5.89529 29.7258 5.89529C32.8393 5.89529 35.3722 8.42818 35.3722 11.5415C35.3722 12.1801 34.8544 12.6979 34.2158 12.6979C33.5773 12.6979 33.0595 12.1801 33.0595 11.5415C33.0595 9.70341 31.564 8.20802 29.7258 8.20802C27.8877 8.20802 26.3923 9.70349 26.3923 11.5415C26.3923 13.3797 27.8878 14.8752 29.7258 14.8752C30.3644 14.8752 30.8822 15.393 30.8822 16.0315C30.8822 16.6701 30.3644 17.1879 29.7258 17.1879Z"
											fill="#F0F0F0"></path>
										<path
											d="M31.5225 38.0542H29.0921C27.1855 38.0542 25.5895 36.6253 25.3797 34.7303L24.1623 23.7417C24.1261 23.4148 24.2307 23.088 24.4501 22.8431C24.6693 22.5981 24.9827 22.458 25.3116 22.458H34.1408C34.7793 22.458 35.2971 22.9758 35.2971 23.6144C35.2971 24.2529 34.7793 24.7707 34.1408 24.7707H26.6032L27.6785 34.4757C27.7582 35.1973 28.366 35.7415 29.0922 35.7415H31.5226C32.1611 35.7415 32.6789 36.2594 32.6789 36.8979C32.6789 37.5364 32.161 38.0542 31.5225 38.0542Z"
											fill="#F0F0F0"></path>
										<path
											d="M35.0395 28.5704H24.4128V18.357C24.4128 17.0454 25.4762 15.982 26.7878 15.982H32.6646C33.9762 15.982 35.0396 17.0454 35.0396 18.357V28.5704H35.0395Z"
											fill="#00AAE5"></path>
										<path
											d="M35.0396 29.7267H24.4129C23.7744 29.7267 23.2566 29.2089 23.2566 28.5704V18.3569C23.2566 16.4097 24.8408 14.8255 26.788 14.8255H32.6646C34.6117 14.8255 36.196 16.4097 36.196 18.3569V28.5704C36.1959 29.209 35.6781 29.7267 35.0396 29.7267ZM25.5692 27.414H33.8831V18.3569C33.8831 17.6849 33.3364 17.1382 32.6644 17.1382H26.7878C26.1157 17.1382 25.5692 17.685 25.5692 18.3569V27.414Z"
											fill="#F0F0F0"></path>
										<path
											d="M12.0711 38.0541H9.64072C7.73424 38.0541 6.13822 36.6252 5.92822 34.7303L4.71088 23.7416C4.67471 23.4147 4.77947 23.0879 4.99869 22.8429C5.21806 22.5979 5.53127 22.4579 5.86017 22.4579H14.6894C15.3279 22.4579 15.8457 22.9757 15.8457 23.6143C15.8457 24.2528 15.3279 24.7706 14.6894 24.7706H7.15174L8.22689 34.4757C8.30681 35.1973 8.91455 35.7415 9.6408 35.7415H12.0712C12.7097 35.7415 13.2275 36.2593 13.2275 36.8979C13.2275 37.5364 12.7096 38.0541 12.0711 38.0541Z"
											fill="#F0F0F0"></path>
										<path
											d="M15.5881 28.5704H4.9613V18.357C4.9613 17.0454 6.02466 15.982 7.3363 15.982H13.213C14.5247 15.982 15.588 17.0454 15.588 18.357L15.5881 28.5704Z"
											fill="#00AAE5"></path>
										<path
											d="M15.5883 29.7267H4.9615C4.32299 29.7267 3.80518 29.2089 3.80518 28.5704V18.3569C3.80518 16.4098 5.38939 14.8255 7.33658 14.8255H13.2131C15.1603 14.8255 16.7446 16.4098 16.7446 18.3569V28.5704C16.7446 29.2091 16.2268 29.7267 15.5883 29.7267ZM6.11791 27.4141H14.4318V18.3569C14.4318 17.6849 13.8851 17.1383 13.2131 17.1383H7.33658C6.66447 17.1383 6.11791 17.685 6.11791 18.3569V27.4141Z"
											fill="#F0F0F0"></path>
										<path
											d="M10.2749 17.1878C7.16143 17.1878 4.62854 14.655 4.62854 11.5415C4.62854 8.42815 7.16143 5.89526 10.2749 5.89526C13.3882 5.89526 15.9211 8.42815 15.9211 11.5415C15.9211 14.655 13.3881 17.1878 10.2749 17.1878ZM10.2749 8.20792C8.43674 8.20792 6.9412 9.70339 6.9412 11.5414C6.9412 13.3796 8.43674 14.8751 10.2749 14.8751C12.113 14.8751 13.6084 13.3796 13.6084 11.5414C13.6084 9.70331 12.1129 8.20792 10.2749 8.20792Z"
											fill="#F0F0F0"></path>
										<path
											d="M22.3786 40.6999H18.7849C16.6667 40.6999 14.8936 39.1124 14.6603 37.0071L13.0071 22.086C12.971 21.7591 13.0756 21.4323 13.295 21.1874C13.5142 20.9424 13.8275 20.8023 14.1564 20.8023H25.8446C26.4831 20.8023 27.0009 21.3201 27.0009 21.9586C27.0009 22.5971 26.4831 23.1149 25.8446 23.1149H15.448L16.9589 36.7524C17.0621 37.6846 17.8471 38.3873 18.7847 38.3873H22.3784C23.0169 38.3873 23.5347 38.9051 23.5347 39.5436C23.5347 40.1821 23.0172 40.6999 22.3786 40.6999Z"
											fill="#F0F0F0"></path>
										<path
											d="M27.034 28.5571H12.9663V16.683C12.9663 14.9466 14.374 13.5388 16.1105 13.5388H23.8901C25.6265 13.5388 27.0342 14.9465 27.0342 16.683V28.557L27.034 28.5571Z"
											fill="#00AAE5"></path>
										<path
											d="M27.034 29.7135H12.9664C12.3279 29.7135 11.8101 29.1957 11.8101 28.5572V16.6831C11.8101 14.3118 13.7393 12.3828 16.1104 12.3828H23.89C26.2612 12.3828 28.1903 14.312 28.1903 16.6831V28.5573C28.1905 29.1959 27.6727 29.7135 27.034 29.7135ZM14.1227 27.4008H25.8777V16.6831C25.8777 15.587 24.9861 14.6954 23.8901 14.6954H16.1104C15.0144 14.6954 14.1228 15.5871 14.1228 16.6831L14.1227 27.4008Z"
											fill="#F0F0F0"></path>
										<path
											d="M20.0007 14.6213C16.1626 14.6213 13.04 11.4987 13.04 7.66068C13.04 3.82263 16.1626 0.699972 20.0007 0.699972C23.8387 0.699972 26.9613 3.82247 26.9613 7.66052C26.9613 11.4986 23.8387 14.6213 20.0007 14.6213ZM20.0007 3.01271C17.4377 3.01271 15.3527 5.09771 15.3527 7.66052C15.3527 10.2235 17.4377 12.3085 20.0007 12.3085C22.5636 12.3085 24.6486 10.2235 24.6486 7.66052C24.6486 5.09771 22.5636 3.01271 20.0007 3.01271Z"
											fill="#F0F0F0"></path>
									</g>
									<defs>
										<clipPath id="clip0_465_161">
											<rect
												width="40"
												height="40"
												fill="white"
												transform="translate(0.000244141 0.699997)"
											></rect>
										</clipPath>
									</defs>
								</svg>
								<span class="text-lg font-semibold text-zinc-100"
									>Nosotros</span
								>
							</a>
						</li>
					
					</ul>
				</div>
			</div>
		</nav>
		
	</div>
</header>
<style >
	
#logo{
	display: none;
  }
  @media (min-width: 760px) {
  #logo{
    display: block;
	display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 3px;
  }
}

.header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
        color: #fff;
        transition: top 3.5s linear;
		z-index: 100;
    }

    .header-hidden {
        top: -100%; 
    }

    .header-visible {
        top: 0; 
    }


</style>




<script client:load>
	document.addEventListener("DOMContentLoaded", function () {
	  const menuToggle = document.getElementById("menu-toggle");
	  const navbarDefault = document.getElementById("navbar-default");
	
	  let isMenuOpen = false; // Variable para rastrear si el menú está abierto
	
	  menuToggle.addEventListener("click", function () {
		isMenuOpen = !isMenuOpen; // Cambiar el estado del menú
		navbarDefault.classList.toggle("hidden");
		const ariaExpanded = isMenuOpen ? "true" : "false";
		menuToggle.setAttribute("aria-expanded", ariaExpanded);
	
		if (isMenuOpen) {
		  // Si el menú está abierto, agregue un evento de clic en el documento para cerrarlo cuando se haga clic fuera de él
		  document.addEventListener("click", closeMenuOnClickOutside);
		} else {
		  // Si el menú está cerrado, elimine el evento de clic en el documento para cerrarlo
		  document.removeEventListener("click", closeMenuOnClickOutside);
		}
	  });
	
	  function closeMenuOnClickOutside(event) {
		// Si se hace clic fuera del menú y del botón de menú, cierra el menú
		if (!navbarDefault.contains(event.target) && event.target !== menuToggle) {
		  navbarDefault.classList.add("hidden");
		  menuToggle.setAttribute("aria-expanded", "false");
		  isMenuOpen = false; // Actualiza el estado del menú
		  document.removeEventListener("click", closeMenuOnClickOutside);
		}
	  }
	});

	let lastScrollTop = 0;
	let ticking = false;

function handleScroll() {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
        hideHeader();
    } else {
        showHeader();
    }

    lastScrollTop = currentScroll;
}

function hideHeader() {
    if (!ticking) {
        window.requestAnimationFrame(function() {
            document.getElementById("header").style.transitionDuration = "0.3s"; // Duración de la animación
            document.getElementById("header").style.top = "-100%";
            ticking = false;
        });
        ticking = true;
    }
}

function showHeader() {
    if (!ticking) {
        window.requestAnimationFrame(function() {
            document.getElementById("header").style.transitionDuration = "0.3s"; // Duración de la animación
            document.getElementById("header").style.top = "0";
            ticking = false;
        });
        ticking = true;
    }
}

window.addEventListener("scroll", handleScroll);

	</script>
	
