---
import CardServicios from "./CardServicios.astro";
import CardServiciosInvertida from "./CardServiciosInvertida.astro";


---


<section>

    <CardServicios/
    servicioTittle="Consulta veterinaria"
    servicioText="Consulta veterinaria por dolor inexplicable o cojera en extremidades, para diagnóstico rápido y preciso. Evaluación veterinaria por pérdida de apetito o cambios en hábitos alimenticios, con atención profesional y empática. Tratamiento veterinario para vómitos y diarrea persistentes, garantizando el bienestar de tu mascota. Diagnóstico y manejo de alergias cutáneas, asegurando la salud de tu mascota. Atención especializada para problemas urinarios en mascotas, con cuidado experto y soluciones efectivas."
    servicioImage=""
    servicioAltImage=""
    >
    <CardServiciosInvertida/
    servicioTittle=""
    servicioText=""
    servicioImage=""
    servicioAltImage=""
    >

</section>