<section>

    <div class="text-center ">
        <h2 class="text-3xl font-bold text-purple-700 mb-4">Ubicación</h2>
        <span class="text-2xl font-light text-purple-700">Encuentranos en Bogotá localidad de Bosa <br><strong>Carrera 82, Dg. 73b Sur #15 sur /<strong></span>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15907.5684842439!2d-74.1979919!3d4.6133225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f081921646d%3A0xf04b6c608e5bdbd5!2sCasa%20Veterinaria%20Laureles!5e0!3m2!1ses-419!2sco!4v1713824730890!5m2!1ses-419!2sco!" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="my-10 md:my-14"></iframe>

</section>

<style>

    iframe {overflow:hidden}
    
</style>