---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Servicios from '../components/Servicios.astro';
import Botoncenter from '../components/Botoncenter.astro';
import VidasSalvadas from '../components/VidasSalvadas.astro';
import Nosotros from '../components/Nosotros.astro';
import PruebasSociales from '../components/PruebasSociales.astro';
import Ubicacion from '../components/Ubicacion.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<div class="absolute top-0 z-[-2] h-screen w-screen   bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] ">
		<Header/>
			<main>
			<Banner/>
			<Servicios />
			<Botoncenter/>
			<VidasSalvadas/>
			<Nosotros/>
			<PruebasSociales/>
			<Ubicacion>
			<slot />
			</main>
	</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background-size: 224px;
	}
	html {
  overflow-x: hidden;
}
	html::-webkit-scrollbar{
		height: 10px;
  		width: 10px;
		
	}
	html::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00AAE5;
}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
			*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

	}
</style>
