---

import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="../logofav.png" />		
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="pgP9hE-DPOsCuOf-9wz0CXww09Yt9bfJvxtnlW8R47k" />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-7C9C02B3YE"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

 		 gtag('config', 'G-7C9C02B3YE');
		</script>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-screen absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]">
	
		<Header/>
			<main>
			<slot />
			</main>
		<Footer/>	
	
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background-size: 224px;
	}
	html {
  overflow-x: hidden;
}
	html::-webkit-scrollbar{
		height: 10px;
  		width: 10px;
		
	}
	html::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00AAE5;
}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
			*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

	}
</style>
